<div class="card-footer text-muted">
</div>
<section class="fixed-bottom">
    <!-- Footer -->
    <footer class="text-center text-white" >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">All-star Triangle Youth Club </span>
                    <span class="me-3">Register for free</span>

                    <a href="sign-up.html" class="btn btn-primary">Sign up</a>

                    <span class="me-3">Contact</span>
                    <span>   </span>
                    <a href="sign-up.html" class="btn btn-primary">Contact</a>


                    <span>Find out more about us</span>
                    <a href="sign-up.html" class="btn btn-primary">About</a>

                </p>


            </section>
            <!-- Section: CTA -->
        </div>


        <!-- Copyright -->
        <div class="text-center" >
            © 2022 Copyright:
            <a class="text-white" href="index.html">ATYC</a>
        </div>
        <!-- Copyright -->
    </footer>

</section>

</body>
</html>