<%-include('./partials/header.ejs')%>

<section class="main-content">

    <div class="card mb-3" style="max-width: 600px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="logo.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Welcome to All-star Triangle Youth Club Connections Site</h5>
                    <p class="card-text">This is a site where youth in the triangle can connect. You can create a connection and find people that may share your or your friends' interests. Check out some of the existing connections!</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

</section>

<%-include('./partials/footer.ejs')%>


<!-- footer -->
