<%-include('../partials/header.ejs')%>


<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <a class="btn btn-primary">Connections</a>
    </div>
</div>

<section class="connection-list">
    <h2>Events</h2>
    <div class="card" style="width: 18rem;">
        <h1> Study</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/connections/<%= connections.id%>"><%= connection.title %></a></li>
            <li class="list-group-item"><a href="connection.html">Computer Architecture</a></li>
            <li class="list-group-item"><a href="connection.html">Intro to Java</a></li>
        </ul>
    </div>
    <br><br/>
    <br><br/>
    <div class="card" style="width: 18rem;">
        <h1> Book Clubs</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="connection.html">English Literature</a></li>
            <li class="list-group-item"><a href="connection.html">History</a></li>
            <li class="list-group-item"><a href="connection.html">Sci-Fi</a></li>
        </ul>
    </div>

</section>


<%-include('../partials/footer.ejs')%>
