<%-include('./partials/header.ejs')%>

<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <a href="connection/connectionList" class="btn btn-primary">Connections</a>
    </div>
</div>
<!-- list of events/connections -->

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="intellij.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= connection.title%></h5>
                <p class="card-text">Tuesday, October 25, 2022 6:15pm - 7:30pm Apex High School, room 2</p>
                <p class="card-text">Individuals that are Intellij enthusiasts would like to meet</p>

                <a href="#" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-primary">Delete</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>


<%-include('./partials/footer.ejs')%>